.button {
    position: absolute;
    border-radius: 100%;
    width: 4rem;
    height: 4rem;
    font-size: 1.5em;
    right: 2vw;
    bottom: 2vh;
}

.success {
    border: 1px solid var(--success);
}

.success:hover {
    background-color: var(--success);
    cursor: pointer;
}

.error {
    border: 1px solid var(--error);
}

.error:hover {
    background-color: var(--error);
    cursor: pointer;
}

.warning {
    border: 1px solid var(--warning);
}

.warning:hover {
    background-color: var(--warning);
    cursor: pointer;
}

.info {
    border: 1px solid var(--info);
}

.info:hover {
    background-color: var(--info);
    cursor: pointer;
}